APP_ENV=development
PROJECT_NAME=QuinielaMaestra API
API_V1_PREFIX=/api/v1
DATABASE_URL=postgresql+psycopg://postgres.exmvulojkzfjivoykagb:LigaMX_26$$@aws-1-us-east-1.pooler.supabase.com:5432/postgres
ALLOWED_ORIGINS=http://localhost:3000
SUPABASE_URL=https://exmvulojkzfjivoykagb.supabase.co
SUPABASE_ANON_KEY=sb_publishable_nYTOwBw3fV-Rqm1WIXPQjg_Onu6mx_a
SUPABASE_JWT_SECRET=97BD6D09-3E8B-4F7B-A9D2-0577C42E7BF5
DEFAULT_PROVIDER=mock

